.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #72090e;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(242, 234, 234);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* New styles for carousel captions and buttons */
.carousel-caption h1{
  color: #72090e; /* Set text color */
  font-size: 6rem; /* Increase font size */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold
}
.carousel-caption p {
  color: #72090e; /* Set text color */
  font-size: 4rem; /* Increase font size */
}

.carousel-caption p {
  color: #72090e; /* Set text color */
  font-size: 2rem; /* Increase font size */
}

.carousel-caption .btn {
  background-color: #72090e; /* Set button color */
  border: none; /* Remove border */
  padding: 20px 40px; /* Add padding */
}
